block info_page
include ../_config/page.jade
include ../_mixin/all.jade
doctype html
html(<?php language_attributes();?>)
    head
        include ../_partials/head_metas.jade
        include ../_partials/head_css.jade
        block module_css
        include ../_partials/head_scripts.jade
    body(<?php body_class();?>)
        //start header
        include ../_blocks/header.jade
        //end header
        block content
        //start footer
        include ../_blocks/footer.jade
        //end footer
        include ../_partials/footer_scripts.jade
