//module_block_jade
+b.content
  +e.inner
    h2 Reflexion
    img.right-pos(src!="#{page.static_url}static/img/dog-1.jpg")
    p
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    .cf
    h2 Vision
    img.left-pos(src!="#{page.static_url}static/img/dog-2.jpg")
    p
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    .cf

    h2 Pasion
    .span-9
    img.right-pos(src!="#{page.static_url}static/img/dog-3.jpg")
    p
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      | lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    .cf
