.b-company-logo
    col(1/2)
    &__logo
        color #fff
        sprite($logo)
        position relative
        display inline-block
        margin 19px 0
        text-indent -9000px

// for responsive
.b-company-logo
   &__logo
       +below(480px)
           margin-left 10px
           sprite($responsive_logo)
