+b(footer)
  background-color #000
  height 100px
  margin-top 30px
  +e(inner-footer)
    background-color #000
    center(960px)
    position relative
  +e(credits)
    color #fff
    margin-top 36px
    span(1/3, 1/12)

+b(social-networks)
  span(1/2, 1/12)
  +e(social-network)
    color #fff
    margin 19px 0 0 18px
    &.fb
      sprite($fb)
      display inline-block
    &.ln
      sprite($in)
      display inline-block
    &.tw
      sprite($tw)
      display inline-block
    &.gp
      sprite($gp)
      display inline-block
    &.yt
      sprite($yt)
      display inline-block
    &.it
      sprite($it)
      display inline-block

//responsive
.b-social-networks
    +below(650px)
        display block
        float none
        margin 0 40px 20px auto
        width 100%
        text-align center
    +below(480px)
        display block
        float none
        margin 0 81px 20px auto
        width 280px
.b-footer
    &__credits
        +below(650px)
            bottom 0
            margin 0
            position absolute
            text-align center
            width 100%
