.b-main-banner
    background-color #eee
    display block
    min-height 46px
    position relative
    text-align center
    &__content
        center(960px)
        text-align right
    img
        display block
        margin 0 auto
        max-width 100%
