.b-menu
    bottom 14px
    position absolute
    padding 0
    &__item
        display inline
        list-style-type none
        float left
    &__link
        color #fff
        font-size 14px
        font-family "Museo500", Arial, sans-serif
        text-decoration none
        background-color #414141
        padding 15px 35px
        &.active
            background-color #212121
        &:hover
            background-color #212121

// for responsive
.b-menu
   +below(650px)
       display none
   +below(480px)
       display none
