.b-nav-login
    float right
    margin 38px 0 20px
    color #fff
    &__login,
    &__signup
        margin 0 10px
        color #fff
        text-decoration none

// for responsive
.b-nav-login
   +below(650px)
       display none
   +below(480px)
       display none
