.b-paginacion
  text-align center
  &__self
    display inline-block
    list-style-type none
  &__item
    float left
    display inline
    margin 0px 10px
    &--before
      float left
    &--next
      float left
  &__link
    border-radius(5px)
    color #fff
    float left
    font-size 18px
    padding 16px 20px
    text-decoration none
    background-color #b0b0b0
    &--selected
        @extend .b-paginacion__link
        background-color #f8c700

.icon-atras
    display inline-block
    sprite($atras)
.icon-adelante
    display inline-block
    sprite($adelante)

//responsive
.b-paginacion
   &__item
       +below(480px)
           display none
   &__item:nth-child(-n+3)
       +below(480px)
           display inline
