.b-powered
    background-color black
    position relative
    z-index 100
    &__content
        center(960px)
        text-align right
    &__link
        content ""
        display inline-block
        margin 18px 0
        position relative
        sprite($powered)
        text-decoration none

.b-powered
    &__link
        +below(650px)
            sprite($responsive_powered)
        +below(480px)
            sprite($responsive_powered)
