.b-responsive-user-menu
    display none
    float right
    margin 38px 10px 0
    // &:hover
    //     .b-responsive-user-menu__down
    //         display block
    //     .b-responsive-user-menu__overlay
    //         display block
    //     .b-menu
    //         display block
    &__down
        display none
        position absolute
        right 0
        top 0
    &__overlay
        display none
        position fixed
        height 100%
        background-color #000
        width 100%
        opacity (0.5)
        top 0
        left 0
    & .b-menu
        display none
        bottom auto
        float right
        list-style-type none
        position relative
        width 90%
        z-index 90
        li
            width 100%
            border-bottom 1px solid #2e2e2e
        a
            color #f8c700
            display block
            font-size 18px
            font-family "Museo300", Arial, sans-serif
            min-width 145px
            padding 20px
            text-decoration none
            &:hover
                background-color black
        .logout:hover
            .icon-cerrar-sesion
                sprite($cerrar_sesion_over)
// icons
.icon-sandwich
    sprite($responsive_menu_ico)
    display inline-block
    text-decoration none

// reponsive
.b-responsive-user-menu
   +below(650px)
       display block
   +below(480px)
       display block
