.b-user-menu
    float right
    margin 30px 0 20px
    min-width 155px
    padding 10px 10px 20px 20px
    position relative
    &:hover
        background-color #f8c700
        .b-user-menu__nickname
            color #212121
        .b-user-menu__down
            display block
            background-color #f8c700
            z-index 5
        .icon-menu-arrowdown
            sprite($ico_arrow_down_black)
    &__name
        display inline-block
        max-width 72px
        height 20px
        left 35px
        text-overflow ellipsis
        white-space nowrap
        position absolute
        overflow hidden

    &__nickname
        color #fff
        font-size 14px
        text-decoration none
        position relative
    &__down
        display none
        left 0
        position absolute
        top 37px

    ul
        float right
        list-style-type none
        a
            color black
            display block
            font-weight bold
            min-width 145px
            padding 10px 20px
            text-decoration none
            &:hover
                background-color #212121
                color #fff
        .logout:hover
            .icon-cerrar-sesion
                sprite($cerrar_sesion_over)

.icon-menu-arrowdown
   float right
   margin 6px 10px
   sprite($ico_arrow_down)

.icon-cerrar-sesion
   float right
   margin-top -3px
   sprite($cerrar_sesion_normal)

// for responsive
.b-user-menu
   +below(650px)
       display none
   +below(480px)
       display none
