/* base styles*/

*
    font-family "Museo300"
    font-size 16px
    margin 0
    padding 0

body
    min-width 320px

h2
    font-family "Museo300"
    font-size 30px
    color #565656
    margin-bottom 28px
    margin-top 50px

h3
    font-family "Museo300"
    font-size 24px
    color #f8c700
    margin-bottom 40px

h4
    color #565656

h5
    font-size 14px
    color #565656

img
    max-width 100%

small
    font-family "MyriadPro Regular"
    font-size 18px

//jeet.gs clasess
.col-6
    col(1/6)
.col-2
    col(1/2)

.col-3
    col(1/3)
.col-3:nth-child(3n)
    margin-right 0
    float right

.span-3
    span(1/12 * 3)

.span-2
    span(1/12 * 2)

.col-4
    span(1/4)
    text-align center
// .col-4:nth-child(4n)
//     margin-right 0
//     float right

.col-8
    col(1/12 * 8)

.span-9
    span(1/12 * 9)

.cf
    clear both

.text-center
    text-align center

// responsive
.col-3
    +below(650px)
        margin 0
        float none
        width auto
        display block
        padding 0 0 15px
    +below(480px)
        float none
        margin 0
        width auto
        display block
        padding 0 0 15px
.col-4
    +below(650px)
        col(1/2)
        &:nth-child(4n)
            float left
        &:nth-child(1n)
            margin-right 0
            float left
    +below(480px)
        col(1/2)
        &:nth-child(4n)
            float left
        &:nth-child(1n)
            margin-right 0
            float left
.right-pos
    float right
.left-pos
    float left
