extends ../../_layout/default.jade
//own css
block module_css
    link(href!="#{page.static_url}css/single.css#{page.version}", media="all", rel="stylesheet", type="text/css")

block b-main-banner
    img(src!="#{page.static_url}static/img/banner-ficha.png")

block b-main-banner-content
    include ../../_blocks/menu.jade

block content
    include _blocks/regresar.jade
    include _blocks/content.jade
    .cf
    include _blocks/postular.jade
    include _blocks/regresar.jade
