extends ../../_layout/default.jade
//the own css
block module_css
    link(href!="#{page.static_url}css/page.css#{page.version}", media="all", rel="stylesheet", type="text/css")

block b-main-banner
    img(src!="#{page.static_url}static/img/banner-home.jpg")

block b-main-banner-content
    include ../../_blocks/menu.jade
  
block content
    include _blocks/content.jade

block footer_scripts
    script(src!="#{page.static_url}js/page.js#{page.version}", type="text/javascript")
