extends ../../_layout/default.jade
block info_page
 | <?php /**
 | * Template Name: Page Extras
 | */?>
//own css
block module_css
    link(href!="#{page.static_url}css/page-extras.css#{page.version}", media="all", rel="stylesheet", type="text/css")

block b-main-banner
    img(src!="#{page.static_url}static/img/banner-extras.jpg")

block b-main-banner-content
    include ../../_blocks/menu.jade
  
block content
    include _blocks/content.jade
