.b-aside
   span(1/12)
   text-align center
   &__fb_white
      sprite($fb_white)
      display inline-block
   &__tw_white
      sprite($tw_white)
      display inline-block
   &__in_white
      sprite($in_white)
      display inline-block
   &__gp_white
      sprite($gp_white)
      display inline-block
   &__correo_white
      sprite($correo_white)
      display inline-block
   a
      margin-bottom 10px

//responsive
.b-aside
   +below(480px)
       display none
