.b-main
  span(0.75, 1/12)
  &__inner
    margin-bottom 45px
  &__title
    margin-top 0
  &__detail
    margin-bottom 18px
    .wrapper-icon
        display inline-block
        text-align center
        vertical-align middle
        width 30px
    .text
        font-size 14px
    

//icons
.icon-puesto
   display inline-block
   sprite($maletin)

.icon-ubicacion
    sprite($ubicacion)
    position relative
    display inline-block
    vertical-align middle

.icon-calendario
    sprite($calendario)
    position relative
    display inline-block
    vertical-align middle

//responsive
.b-main
    +below(480px)
        margin 0 10px
        width 95%
