.b-postular
  background-color #c7c7c7
  &__inner
    padding 10px 0
    text-align center
  &__btn
    background-color #212121
    border 0
    cursor pointer
    color #fff
    padding 18px 60px
    border-radius(5px)
    &:hover
      background-color #3d3d3d
