.b-regresar
   text-align right
   &__inner
     center(940px, 10px)
   &__link
     display block
     color #565656
     font-size 14px
     margin 20px 0px
     padding-right 45px
     text-decoration none

.icon-flecha-atras
   sprite($flecha_atras)
   display inline-block
   margin-right 5px

//responsive
.b-regresar
   &__link
       +below(480px)
           padding 0
