.b-content
    &__inner
        center(940px, 10px)
    
.icon-ubicacion
    sprite($ubicacion)
    display inline-block
    vertical-align middle

.icon-calendario
    sprite($calendario)
    display inline-block
    vertical-align middle
    

