.b-lista
  &__row-empleo
     display block
     &:nth-child(2n+1)
        background-color #f6f6f6

.b-row-content
  display block
  overflow hidden
  padding 30px
  margin-left 10px
  &__row-empleo
    display block
  &__title
    span(1/3)
  &__ubicacion
    span(1/3, 1/12)
  &__fecha-pub
    span(1/6)
  &__text
    display inline-block
    font-size 14px
    color #565656
    margin-left 10px
    vertical-align middle

//responsive
.b-row-content
   &__title
       +below(650px)
           width 100%
       +below(480px)
           width 100%
   &__ubicacion
       +below(650px)
           margin 10px 0
           width 100%
       +below(480px)
           margin 10px 0
           width 100%
   &__fecha-pub
       +below(650px)
           margin 0
           width 100%
       +below(480px)
           margin 0
           width 100%
