//bem
b(name)
    .b-{name}
        {block}

e(name)
    &__{name}
        {block}

m(name)
    &--{name}
        {block}


//fonts
font-url(folder, file)
  return './fonts/' + folder + '/' + file
webfont(family, folder, file, hack-chrome-windows = false, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(folder, file + '.eot'))
    src url(font-url(folder, file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(folder, file + '.woff')) format('woff'), 
        url(font-url(folder, file + '.ttf')) format('truetype'), 
        url(font-url(folder, file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url(font-url(folder, file + '.svg#'+ family)) format('svg')

//border-radius
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

transition(n)
  -webkit-transition n
  -moz-transition n
  -o-transition n
  transition n

opacity(n)
  opacity n
  filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
