script(src!="#{page.static_url}js/libs/jquery/dist/jquery.min.js#{page.version}", type="text/javascript")
script(src!="#{page.static_url}js/libs/yosonjs/build/yoson-min.js#{page.version}", type="text/javascript")
script(src!="#{page.static_url}js/modules/all/all.js", type="text/javascript")
script(type="text/javascript")
    | var emptyVariable = ""
