link(href!="#{page.static_url}css/all-fonts.css#{page.version}", media="all", rel="stylesheet", type="text/css")
link(href!="#{page.static_url}css/all-all.css#{page.version}", media="all", rel="stylesheet", type="text/css")
link(href!="#{page.favicon}#{page.version}", rel="icon", type="image/vnd.microsoft.icon")
link(href!="#{page.favicon}#{page.version}", rel="shortcut icon", type="image/vnd.microsoft.icon")
link(href!="#{page.favicon}#{page.version}", rel="shortcut icon", type="image/x-icon")
link(href!="#{page.favicon}#{page.version}", rel="shortcut icon", type="image/jpeg")
