+b.job-box
  +e("h3").title Funciones y responsabilidades
  +e.content
    | <?php the_content();?>
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum

+b.job-box
  +e("h3").title Requisitos
  +e.content
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    | lorem ipsum lorem ipsum lorem ipsum lorem ipsum
