+b.main
  +e.inner
    +e("h2").title
        | <?php the_title();?>
    | <?php while( have_posts() ): the_post();?>
    +e.main-details
      +e("h6").detail
        span.wrapper-icon
          span.icon-puesto
        span.text Produccion
      +e("h6").detail
        span.wrapper-icon
          span.icon-ubicacion
        span.text Cercado de lima
      +e("h6").detail
        span.wrapper-icon
          span.icon-calendario
        span.text Publicado hace 3 dias

     include job-box.jade
    | <?php endwhile;?>
