//module_block_jade
+b("div").content
  +e("div").inner
      | <?php while( have_posts()): the_post()?>
      | <?php the_content();?>
      | <?php endwhile;?>

//-   h2 Conocenos
//-   img(src!="#{page.static_url}static/img/video-home.jpg")
//-   h2 Nuestra cultura
//-   div.col-3
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-   div.col-3
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-   div.col-3
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-     | bla bla bla
//-   div.cf &nbsp;
//-   div.col-4
//-     img(src!="#{page.static_url}static/img/img-demo-home-1.jpg")
//-   div.col-4
//-     img(src!="#{page.static_url}static/img/img-demo-home-2.jpg")
//-   div.col-4
//-     img(src!="#{page.static_url}static/img/img-demo-home-3.jpg")
//-   div.col-4
//-     img(src!="#{page.static_url}static/img/img-demo-home-4.jpg")
//-   div.cf &nbsp;
//-   div.cf.text-center
//-     p 
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-      | some text
//-   div.cf.text-center
//-     a.btn_yellow(href="#") trabaja con nosotros
//-
