extends ../../_layout/default.jade
//own css
block module_css
    link(href!="#{page.static_url}css/archive.css#{page.version}", media="all", rel="stylesheet", type="text/css")

block b-main-banner
    img(src!="#{page.static_url}static/img/banner-listado-empleos.jpg")

block b-main-banner-content
    include ../../_blocks/menu.jade
  
block content
    include _blocks/teaser-top.jade
    include _blocks/content.jade

block footer_scripts
    script(src!="#{page.static_url}js/modules/default/index.js#{page.version}", type="text/javascript")
