.btn_yellow
    -webkit-border-radius 8
    -moz-border-radius 8
    border-radius 8px
    color #000
    display inline-block
    font-size 20px
    background #f8c700
    padding 15px 52px 15px 52px
    text-decoration: none

.btn_yellow:hover
    background #FFD633
    text-decoration none
