+b.lista
  //each val,index in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  | <?php while(have_posts()): the_post();?>
  +e("a").row-empleo(href!="<?php the_permalink();?>")
    +b.row-content
      +e.title 
        h4
           | <?php the_title()?>
        h5 Produccion
      +e.ubicacion 
        span.icon-ubicacion
        +e( "span" ).text Chiclayo, Lambayeque
      +e.fecha-pub 
        span.icon-calendario
        +e( "span" ).text
          | Hace 
          = val
          |  dias
  | <?php endwhile;?>
