+b.teaser-top
  +e.inner
    +e("h3").title Te gustaria ser
    +e("p").summary
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
      | Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
