+b.footer
  +e.inner-footer
    +e("small").credits &copy; Todos los derechos reservados - 2015
    +b.social-networks
      +e("a").social-network.fb(href="#")
      +e("a").social-network.ln(href="#")
      +e("a").social-network.tw(href="#")
      +e("a").social-network.gp(href="#")
      +e("a").social-network.yt(href="#")
      +e("a").social-network.it(href="#")
