//- +b("ul").menu
//-     +e("li").item
//-         +e( "a" ).link.active(href!="#{page.url}") Inicio
//-     +e("li").item
//-         +e( "a" ).link(href!="#{page.url}index.php/category/uncategorized") Lista de empleos
//-     +e("li").item
//-         +e( "a" ).link(href!="#{page.url}modules/detalle-empleo/index.html") Mi Perfil
//-     +e("li").item
//-         +e( "a" ).link(href!="#{page.url}index.php/nosotros") Nuestros Principios

| <?php wp_nav_menu(
|            array(
|               'theme_location'=> 'primary',
|               'menu_class'=> 'b-menu',
|               'container'=> 'ul',
|               'menu_id'=> 'primary-menu',
|               'walker'=> new Custom_Walker_Nav_Menu,
|               )
|         );?>
