+b.paginacion
  +e("ul").self
    +e("li").item--before
      +e("a").link(href="#")
        span.icon-atras &nbsp
    +e("li").item
      +e("a").link--selected(href="#") 1
    each val, index in [2, 3, 4]
      +e("li").item
        +e("a").link(href="#")
          = val
    +e("li").item
      +e("a").link.selected(href="#") ...
    +e("li").item--next
      +e("a").link(href="#")
        span.icon-adelante &nbsp
  
