+b("div").user-menu
  span.icon-menu-arrowdown
  +e("a").nickname(href="javascript:;") Hola 
    +e("span").name XXXX
  +e.down_menu
    ul
      li
        a(href="#") Alertas
      li
        a(href="#") Configuracion
      li
        a(href="#") Asociar a redes
      li
        a(href="#") Privacidad
      li
        a(href="#") Destacate
      li
        a.logout(href="#") 
          | Cerrar sesion
          span.icon-cerrar-sesion
    
